name: Lint

on:
  workflow_call:

jobs:
  luacheck:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install Lua and LuaRocks
      run: |
        sudo apt-get update
        sudo apt-get install -y lua5.4 luarocks

    - name: Install luacheck
      run: sudo luarocks install luacheck

    - name: Run luacheck
      run: luacheck .

  style:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install editorconfig-checker
      uses: editorconfig-checker/action-editorconfig-checker@main

    - name: Check editorconfig compliance
      run: editorconfig-checker --disable-indent-size
